
[theme="dark"] {
    --mainColor: #22ffc2;
    --mainColorHover: #7bffda;
    --mainColorHoverAlt: #1fb389;
    --navBar: #1d1d1d;
    --navBarTabTextColor: #fff;
    --navBarTabHoverColor: #1fb389;
    --navBarSeperator: #ffffff35;
    --navBarVNum: #3d3d3d;
    --rcmStatusIdle: 34, 122, 255;
    --rcmStatusOK: 34, 255, 194;
    --rcmStatusNO: 255, 34, 34;
    --buttonTextColor: #fff;
    --buttonColor: #3d3d3d;
    --buttonColor: #4d4d4d;
    --dropdownColor: #3d3d3d;
    --dropdownHoverColor: #4d4d4d;
    --primaryBgColor: #2d2d2d;
    --primaryTextColor: #fff;
}
[theme="light"] {
    --mainColor: #1fb389;
    --mainColorHover: #7bffda;
    --mainColorHoverAlt: #22ffc2;
    --navBar: #d9d9d9;
    --navBarTabTextColor: #000;
    --navBarTabHoverColor: #188b6a;
    --navBarSeperator: #00000035;
    --navBarVNum: #a4a4a4;
    --rcmStatusIdle: 34, 122, 255;
    --rcmStatusOK: 34, 255, 194;
    --rcmStatusNO: 255, 34, 34;
    --buttonTextColor: #000;
    --buttonColor: #d9d9d9;
    --buttonColor: #eeeeee;
    --dropdownColor: #eeeeee;
    --dropdownHoverColor: #d9d9d9;
    --primaryBgColor: #a4a4a4;
    --primaryTextColor: #000;
}

html, body {
    background: var(--navBar);
    color: var(--primaryTextColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    user-select: none;
}

#main {
    height: 100vh;
    background: var(--primaryBgColor);
    display: block;
    overflow: hidden;
    #content {
        margin: 8px;
    }
}

.selectedTab {
    >a {
        color: var(--mainColor) !important;
        border-left: 2px solid var(--mainColor) !important;
        cursor: default !important;
        transition: 0.5s;
        padding-left: 2px;
    }
}

#nav {
    overflow: hidden;
    display: block;
    width: max-content;
    height: 100vh;
    white-space: nowrap;
    float:left;
    #logoNav {
        text-align: center;
        transform: translateY(2px);
        transition: 0.5s;
    }
    >ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        >li {
            #funnyLine {
                border-bottom: 2px solid var(--navBarSeperator);
                width: 75px;
                height: 38px;
                transform: translateX(-5px);
                margin-top: 4px;
                margin-bottom: 10px;
                margin-left: 10px;
                display: block;
            }
            > a {
                display: block;
                color: var(--navBarTabTextColor);
                text-decoration: none;
                text-align: left;
                padding: 1px 8px;
                padding-bottom: 4px;
                border-left: 1px solid transparent;
                transition: 0.2s;
                cursor: pointer;
            }
            &:hover > a{
                border-left: 2px solid var(--navBarTabHoverColor);
                transition: 0.2s;
            }
        }
    }
    #versionInfo {
        color: var(--navBarVNum);
        font-size: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 4px;
    }
}

button {
    background: var(--buttonColor);
    color: var(--buttonTextColor);
    border-radius: 8px;
    border: none;
    outline: none;
    margin: 2px;
    transition: 0.1s ease-in;
    &:hover {
        background: var(--buttonColorHover);
        transition: 0.1s ease-in;
    }
}

a {
    color: var(--mainColor);
    transition: 0.2s ease;
    text-decoration-line: none;
    &:hover {
        color: var(--mainColorHoverAlt);
        transition: 0.2s ease;
    }
    &:active {
        color: var(--mainColorHover);
        transition: 0.2s ease;
        text-decoration-line: none;
    }
}

[rcm_detected] button#payload_inject:active {
    background: var(--mainColor);
    color: #2d2d2d;
}

[rcm_undetected] button#payload_inject, button#payload_inject[no_payload] {
    transition: 0.1s ease-in;
    opacity: .75;
    pointer-events: none;
}

button#payload_inject {
    border-radius: 4px;
    padding: 2px;
    width: 65px;
    cursor: pointer;
}
button#payload_config {
    border-radius: 4px;
    padding: 2px;
    width: 116px;
}

select {
    background: var(--dropdownColor);
    color: var(--buttonTextColor);
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.1s ease-in;
    text-align: right;
    padding: 2px;
    width: 100px;
    &#themeSel {
        width: 116px;
    }
    option {
        text-align: center;
    }
    &:hover {
        background: var(--dropdownHoverColor);
        transition: 0.1s ease-in;
    }
}

#rcm_status {
    --statusColor: var(--rcmStatusIdle);
    background: rgba(var(--statusColor), 0.25);
    color: rgb(var(--statusColor));
    text-align: center;
    width: 75px;
    height: 26px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: rgb(var(--statusColor)) solid 2px;
    transition: 0.3s ease;
    margin-top: 4px;
    display: inline;
    float: left;
    >span {
        line-height: 26px;
        &:before {
            content: "?";
        }
    }
}

[rcm_detected] #rcm_status {
    --statusColor: var(--rcmStatusOK);
    transition: 0.3s ease;
    >span:before {
        content: "✔";
    }
}

[rcm_undetected] #rcm_status {
    --statusColor: var(--rcmStatusNO);
    transition: 0.3s ease;
    >span:before {
        content: "✖";
    }
}

.noClick {
    pointer-events: none;
}