html, body {
    background: #2d2d2d;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0; */
    user-select: none;
}

button {
    background: #3d3d3d;
    color: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.1s ease;
}

button:hover {
    background: #4d4d4d;
    transition: 0.1s ease;
}

[rcm_detected] button#payload_inject:active {
    background: #22ffc2;
    color: #2d2d2d;
}

[rcm_undetected] button#payload_inject, button#payload_inject[no_payload] {
    transition: 0.1s ease;
    opacity: .75;
    pointer-events: none;
}

select#payload_select {
    background: #3d3d3d;
    color: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.1s ease;
}

select#payload_select:hover {
    background: #4d4d4d;
    transition: 0.1s ease;
}

#rcm_status {
    background: #ffff00;
    color: #000;
    text-align: center;
    width: 75px;
    border-radius: 4px;
    margin-top: 5px;
}
#rcm_status:before {
    content: "?";
}

[rcm_detected] #rcm_status {
    background: #00ff48;
}
[rcm_detected] #rcm_status:before {
    content: "✓";
}

[rcm_undetected] #rcm_status {
    background: #ff0000;
}
[rcm_undetected] #rcm_status:before {
    content: "X";
}